extends ../components/profile.pug 

block main-grid
    h1.title Fill in day pass details
    if !haveTicket
        form#buy-ticket-form.mb-3(action="/profile/buy-ticket", method="post")
            if !visitorNo
                .mb-3 
                    label.form-label(for="fname") First Name:
                    input.form-control#fname(type="text", placeholder="Leave blank to use your account first name", name="fname")
                .mb-3
                    label.form-label(for="lname") Last Name:
                    input.form-control#lname(type="text", placeholder="Leave blank to use your account last name", name="lname")
                .mb-3
                    //-pattern="\d{10}"
                    label.form-label(for="phone") Phone number:
                    input.form-control#lname(type="text", placeholder="Enter phone", name="phone")
                .mb-3 
                    label.form-label(for="age") Age:
                    input.form-control#age(type="number", name="age", min="9")
            .ticket-selection.mb-3 
                label.form-label Pass type 
                .form-check 
                    input#ticket_choice_1.form-check-input(type="radio", name="ticket_choice", value="silver")
                    label.form-check-label(for="ticket_choice_1") Silver
                .form-check 
                    input#ticket_choice_2.form-check-input(type="radio", name="ticket_choice", value="gold")
                    label.form-check-label(for="ticket_choice_2") Gold
                .form-check 
                    input#ticket_choice_3.form-check-input(type="radio", name="ticket_choice", value="platinum")
                    label.form-check-label(for="ticket_choice_3") Platinum
            button.btn.btn-primary.mb-5(type="submit") Proceed to pay
    else 
        h6 You already have a pass!


        
