extends ../components/profile.pug 

block main-grid
    h1.title Payment information
    form(action="/profile/pay-success", method="post")
        .mb-3.mt-3
            label.form-label(for="name") Full name:
            input.form-control#name(type="text", placeholder="Enter your full name", name="name")
        .mb-3
            label.form-label(for="card-number") Card number:
            input.form-control#cnumber(type="text", placeholder="Enter your credit/debit card number", name="cnumber")
        .mb-3 
            label.form-label(for="exp-date") Card expiry date:
            input#exp-date.form-control(type="date", name="exp-date")
        .mb-3
            label.form-label(for="bill-address") Billing address:
            input.form-control#bill-address(type="text", placeholder="Enter your billing address", name="bill-address")
        .mb-3 
            label.form-label(for="cvv") CVV code:
            input.form-control#cvv(type="text", pattern="[0-9]{3,4}", placeholder="CVV", name="cvv", maxlength="4")
        .mb-5 
            button.btn.btn-primary(type="submit") Pay


        