extends ../components/profile.pug 

block main-grid

    if tnum
        h1.title Ticket details 
        .mt-3.mb-1.ticket-field 
            h6 First name:
            span #{fname}
        .mb-1.ticket-field 
            h6 Last name:
            span #{lname}
        .mb-1.ticket-field 
            h6 Ticket number:
            span #{tnum}
        .mb-1.ticket-field 
            h6 Ticket type:
            span #{ttype}
        .mt-1
            form(action="/profile/refund-ticket", method="post")
                button(type="submit").btn.btn-danger Refund
    else 
        p You have no ticket

