extends ../components/profile.pug 

block main-grid
    h1.title Reset password
    form#reset-password(action="/profile/reset-password", method="post")
        .mb-3.mt-3 
            label.fw-bold.form-label(for="curr_password") Current password:
            input.form-control#curr_password(type="password", name="curr_password" required)
        .mb-3
            label.fw-bold.form-label(for="new_password") New password:
            input.form-control#new_password(type="password", name="new_password" required)
        button.btn.btn-primary(type="submit") Change password

