//- .col-md-2.d-flex.px-3.justify-content-center.sidebar
.col-md-2.sidebar.px-3
    ul.list-unstyled.list-group
        li.py-2 
            a(href="/profile-edit") Edit profile
        li.py-2 
            a(href="/change-passwd") Reset password
        li.py-2
            a(href="/manage-resort-reservation") Manage resort reservations
        li.py-2
            a(href="/profile-buy-ticket") Buy tickets
        li.py-2 
            a(href="/refund-ticket") Refund ticket 
        li.py-2 
            a(href="/manage-resort-reservation") Manage restaurant reservations
    