//- .col-md-2.d-flex.px-3.justify-content-center.sidebar
.col-md-2.sidebar.px-3
    ul.list-unstyled.list-group
        li.py-2 
            a(href="/profile/edit-profile") Edit profile
        li.py-2 
            a(href="/profile/reset-password") Reset password
        li.py-2
            a(href="/profile/manage-resort-reservation") Manage events
    