//- .col-md-2.d-flex.px-3.justify-content-center.sidebar
.col-md-2.sidebar.px-3
    ul.list-unstyled.list-group
        li.py-2 
            a(href="/profile/edit-profile") Edit profile
        li.py-2 
            a(href="/profile/reset-password") Reset password
        li.py-2
            a(href="/profile/manage-resort-reservation") Manage resort reservations
        li.py-2
            a(href="/profile/buy-ticket") Buy tickets
        li.py-2 
            a(href="/profile/refund-ticket") Refund ticket 
        li.py-2 
            a(href="/profile/manage-restaurant-reservation") Manage restaurant reservations
        li.py-2 
            a(href="/profile/edit-visitor") Edit visitor registration
    