extends components/profile.pug 

block main-grid
    h1.title Book hotel and resort reservation
    form#book-resort-reservation(action="#", method="post")
        .mb-3.mt-3 
            label.fw-bold.form-label(for="book-date") Entry date:
            input.form-control#book-date(type="date", name="book-date")
        .mb-3 
            label.fw-bold.form-label Suite type:
            .form-check 
                input#suite-choice-1.form-check-input(type="radio", name="suite-choice")
                label.form-check-label(for="suite-choice-1") Basic ($35 per hour)
            .form-check 
                input#suite-choice-2.form-check-input(type="radio", name="suite-choice")
                label.form-check-label(for="suite-choice-2") Mini-suite ($65 per hour)
            .form-check 
                input#suite-choice-3.form-check-input(type="radio", name="suite-choice")
                label.form-check-label(for="suite-choice-3") Presidential ($280 per hour)
            .form-check 
                input#suite-choice-4.form-check-input(type="radio", name="suite-choice")
                label.form-check-label(for="suite-choice-4") Penthouse  ($350 per hour)
            .form-check 
                input#suite-choice-5.form-check-input(type="radio", name="suite-choice")
                label.form-check-label(for="suite-choice-5") Royal ($990 per hour)
        .mb-3 
            label.fw-bold.form-label Duration of stay (in hours): 
            .form-check 
                input#hours-choice-1.form-check-input(type="radio", name="hours-choice")
                label.form-check-label(for="hours-choice-1") 4
            .form-check 
                input#hours-choice-2.form-check-input(type="radio", name="hours-choice")
                label.form-check-label(for="hours-choice-2") 8
            .form-check 
                input#hours-choice-3.form-check-input(type="radio", name="hours-choice")
                label.form-check-label(for="hours-choice-3") 12
            .form-check 
                input#hours-choice-4.form-check-input(type="radio", name="hours-choice")
                label.form-check-label(for="hours-choice-4") 24 
        button.btn.btn-primary Book
        