extends components/profile.pug 

block main-grid
    h1.title Fill in ticket details
    form#buy-ticket-form(action="#", method="post")
        .mb-3.mt-3 
            label.form-label(for="fname") First Name:
            input.form-control#fname(type="text", placeholder="Leave blank to use your account first name", name="fname")
        .mb-3
            label.form-label(for="lname") Last Name:
            input.form-control#lname(type="text", placeholder="Leave blank to use your account last name", name="lname")
        .mt-3.mb-3 
            label.form-label(for="num-tickets") Number of additional tickets (Enter 0 for individual purchase):
            input.form-control#num-tickets(type="number", name="num-tickets", min="0")
        .ticket-selection.mb-3 
            label.form-label Ticket type 
            .form-check 
                input#ticket-choice-1.form-check-input(type="radio", name="ticket-choice")
                label.form-check-label(for="ticket-choice-1") Silver
            .form-check 
                input#ticket-choice-2.form-check-input(type="radio", name="ticket-choice")
                label.form-check-label(for="ticket-choice-2") Gold
            .form-check 
                input#ticket-choice-3.form-check-input(type="radio", name="ticket-choice")
                label.form-check-label(for="ticket-choice-3") Platinum
        button.btn.btn-primary.mb-5(type="submit") Proceed to pay


        
