extends components/profile.pug 

block main-grid
    //-use this to test formatting
    -var fname = "john";
    -var lname = "smith";
    -var tnum = "1456742";
    -var ttype = "silver";


    h1.title Ticket details 
    .mt-3.mb-1.ticket-field 
        h6 First name:
        span #{fname}
    .mb-1.ticket-field 
        h6 Last name:
        span #{lname}
    .mb-1.ticket-field 
        h6 Ticket number:
        span #{tnum}
    .mb-1.ticket-field 
        h6 Ticket type:
        span #{ttype}
    .mt-1
        button.btn.btn-danger Refund

