extends ../components/staff-dashb/bare.pug

mixin spinner()
    .spinner-border#loadingIndicator(role="status", style="display: none; width: 3rem; height: 3rem;") 

block main 
    h2(style="text-decoration: underline") Add event
    //- { name, imgUrl, desc, date }
    +spinner()
    .row.mt-3#load-finish
        form#addForm(action="/mgr/add-event", method="post")
                .mb-3 
                    label.form-label(for="name") Event name: 
                    input.form-control#name(type="text", name="name", required)
                .mb-3 
                    label.form-label(for="imgUrl") Image URL: 
                    input.form-control#imgUrl(type="text", name="imgUrl", required)
                .mb-3 
                    label.form-label(for="desc") Description: 
                    input.form-control#desc(type="text", name="desc" required)
                .mb-3 
                    label.form-label(for="date") Event date: 
                    input.form-control#date(name="date", type="datetime-local", required)     
                button.btn.btn-primary(type="submit") Add 

block scripts
    script(src="../js/add-event.js") 
