extends ../components/staff-dashb/bare.pug

mixin spinner()
    .spinner-border#loadingIndicator(role="status", style="display: none; width: 3rem; height: 3rem;") 

//- technicians
block main 
    h2(style="text-decoration: underline") Technician workload report
    +spinner()
    .row.mt-3#load-finish 
        form#reportForm(action="/pos/tw-report", method="post")
            .mb-3 
                if technicians && technicians.length > 0
                    label.form-label(for="technician") Technician:
                    select.form-select#technician(name="technician", required)
                        each technician in technicians
                            option(value=technician._name)= technician._name
                else 
                    p <b>Technicians could not be loaded</b>
            .mb-3.d-flex.flex-column 
                .mx-2 
                    label.form-label(for="startDate") Start date:
                    input.form-control#startDate(name="startDate", type="datetime-local", required)
                .mx-2 
                    label.form-label(for="endDate") End date:
                    input.form-control#endDate(name="endDate", type="datetime-local", required)
            button.btn-primary.btn Generate
        .mt-5 
            #table-container

                    
block scripts 
    script(src="../js/tw-report.js") 