.navbar {
    display: flex;
    justify-content: space-between;
}

.sidebar {
    background-color: #EAEAEA;
}

.sidebar ul {
    margin-top: 1.8rem;
}
/* .sidebar ul.list-group li */
.sidebar ul.list-group li a, .a-link {
    text-decoration: none;
    color: #474747;
}

a.option-box {
    display: block;
    text-decoration: none;
    background-color: #D9D9D9;
    width: 340px;
    padding: .7rem;
}

li.filter-item.selected {
    background-color: #3F74FB;
    color: white;
    border: none;
}

li.filter-item {
    border: 1px solid black;
}

.menu-item {
    /* border: 1px solid black; */
    margin-bottom: 1.8rem;
}

.menu-item .add-link {
    display: flex;
    min-height: 10rem;
    background-color: #A9A9A9;
    text-decoration: none;
    color: black;
}

.menu-item .add-link div {
    margin: auto;
}

.menu-item h1, h1.title {
    text-decoration: underline;
}

.details {
    margin-bottom: 1rem;
}

.details h3 {
    margin: 1.7rem 0;

}

.ticket-field {
    display: flex;
}

.ticket-field span {
    margin-left: 0.8rem;
}

#alertMsg {
    display: absolute;
    top: 1rem;
    /* left: 50%; */
}
/* 
form {
    display: flex;
    flex-direction: column;
    align-content: space-between;
} */