/* Custom styles for the data entry page */

body {
    background-color: #222;
    color: #fff;
}

.data-entry-form {
    background-color: rgb(160, 160, 160);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 50px;
}

.data-entry-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

/* Center the data entry form on the page */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
